<tr>
    <td>1</td>
    <td>username</td>
    <td>example@gmail.com</td>
    <td>gender</td>
    <td>active</td>
    <td>
        <a href="/user_update" class="btn border-shadow-update"><span class="text-gradient">update<i class="fa fa-pencil-square" aria-hidden="true"></i></span></a>
        <a class="btn border-shadow-delete"><span class="text-gradient">delete<i class="fas fa-times" aria-hidden="true"></i></span></a>
    </td>
</tr>
<tr>
    <td>2</td>
    <td>akade</td>
    <td>exle@gmail.com</td>
    <td>male</td>
    <td>active</td>
    <td>
        <a href="/user_update" class="btn border-shadow-update"><span class="text-gradient">update<i class="fa fa-pencil-square" aria-hidden="true"></i></span></a>
        <a class="btn border-shadow-delete"><span class="text-gradient">delete<i class="fas fa-times" aria-hidden="true"></i></span></a>
    </td>
</tr>
<tr>
    <td>3</td>
    <td>usde</td>
    <td>mple@gmail.com</td>
    <td>female</td>
    <td>active</td>
    <td>
        <a href="/user_update" class="btn border-shadow-update"><span class="text-gradient">update<i class="fa fa-pencil-square" aria-hidden="true"></i></span></a>
        <a class="btn border-shadow-delete"><span class="text-gradient">delete<i class="fas fa-times" aria-hidden="true"></i></span></a>
    </td>
</tr>
<tr>
    <td>4</td>
    <td>seame</td>
    <td>exle@gmail.com</td>
    <td>Female</td>
    <td>Inactive</td>
    <td>
        <a href="/user_update" class="btn border-shadow-update"><span class="text-gradient">update<i class="fa fa-pencil-square" aria-hidden="true"></i></span></a>
        <a class="btn border-shadow-delete"><span class="text-gradient">delete<i class="fas fa-times" aria-hidden="true"></i></span></a>
    </td>
</tr>
<tr>
    <td>5</td>
    <td>ernae</td>
    <td>xaple@gmail.com</td>
    <td>Male</td>
    <td>Inactive</td>
    <td>
        <a href="/user_update" class="btn border-shadow-update"><span class="text-gradient">update<i class="fa fa-pencil-square" aria-hidden="true"></i></span></a>
        <a class="btn border-shadow-delete"><span class="text-gradient">delete<i class="fas fa-times" aria-hidden="true"></i></span></a>
    </td>
</tr>
<tr>
    <td>6</td>
    <td>serme</td>
    <td>ele@gmail.com</td>
    <td>Female</td>
    <td>Inactive</td>
    <td>
        <a href="/user_update" class="btn border-shadow-update"><span class="text-gradient">update<i class="fa fa-pencil-square" aria-hidden="true"></i></span></a>
        <a class="btn border-shadow-delete"><span class="text-gradient">delete<i class="fas fa-times" aria-hidden="true"></i></span></a>
    </td>
</tr>